---
// Icons
import CloseIcon from "../icons/Close.astro";
import TimelineIcon from "../icons/Timeline.astro";
import PositionIcon from "../icons/User.astro";
import CompanyIcon from "../icons/Company.astro";
import UbicationIcon from "../icons/Ubication.astro";
import ModeIcon from "../icons/Mode.astro";
import LanguageIcon from "../icons/Language.astro";

// Data
import type { Job } from "../data/experienceData";
import {
  technologysDataOne,
  technologysDataTwo,
  otherTechnologysData,
} from "../data/technologysData";

// Interfaces
interface Props {
  id: string;
  job: Job;
}

const { id, job } = Astro.props;

const {
  position,
  company,
  description,
  responsabilitiesAndTasks,
  skillsAndTools,
  softSkills,
  date,
  mode,
  language,
} = job;

const finalResponsibilities = responsabilitiesAndTasks || [];
const finalSkills = skillsAndTools || [];
const finalSoftSkills = softSkills || [];

const allTechnologys = [
  ...Object.values(technologysDataOne),
  ...Object.values(technologysDataTwo),
  ...Object.values(otherTechnologysData),
];
---

<dialog
  id={id}
  class="job-details-modal fixed inset-0 z-50 max-h-screen
    overflow-hidden p-0
    text-left align-middle transition-all
    rounded-xl bg-gradient-to-br from-white to-slate-200
  dark:from-navbar-dark-bg dark:to-navbar-dark-bg/60
    md:max-w-4xl max-w-6xl md:w-10/12 w-[95vw] border
    border-gray-300 dark:border-gray-500/30 shadow"
>
  <div class="relative flex md:max-h-85-p max-h-95-p  flex-col sm:p-6 p-3">
    <!-- Header -->
    <!-- Mobile Header (Back Button) -->
    <button
      class="close-modal-btn xs:hidden w-full flex items-center justify-between
      bg-gray-200 dark:bg-dark-secondary px-4 py-3 mb-3 rounded-xl gap-2 text-gray-900 dark:text-white
      active:bg-gray-300 dark:active:bg-dark-secondary/80 transition-colors shadow"
      aria-label="Volver"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-6 shrink-0"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path
          d="M5 12l6 -6"></path></svg
      >

      <div class="flex items-center gap-3">
        <div
          class={`size-10 p-1 rounded-lg flex items-center justify-center
           shadow-md shrink-0 border ${company.borderColorIcon}
           ${company.darkBorderColorIcon} ${company.bgColorIcon} ${company.darkBgColorIcon}`}
        >
          <company.icon class="size-full" />
        </div>
        <h3
          class="sm:text-lg text-base font-bold leading-6 text-gray-900 dark:text-white text-right text-pretty"
        >
          Mi experiencia en {company.name}
        </h3>
      </div>
    </button>

    <!-- Desktop Header -->
    <div class="hidden xs:flex sm:mb-4 mb-3 items-center justify-between">
      <div class="flex lg:items-center items-center gap-4">
        <div
          class={`xs:size-14 size-10 p-1 rounded-lg flex items-center justify-center
           shadow-md shrink-0 border ${company.borderColorIcon}
           ${company.darkBorderColorIcon} ${company.bgColorIcon} ${company.darkBgColorIcon}`}
        >
          <company.icon class="size-full" />
        </div>
        <div>
          <h3
            class="xs:text-2xl text-xl font-bold leading-6 text-gray-900 dark:text-white text-pretty"
          >
            Mi experiencia en {company.name}
          </h3>
          <!-- Metadata -->
          <div
            class="hidden lg:flex lg:flex-row flex-col flex-wrap
              lg:items-center items-start gap-x-3 gap-y-1 
              text-sm text-gray-500 dark:text-gray-400"
          >
            <!-- Date -->
            <span class="flex items-center gap-1">
              <span><TimelineIcon class="size-6" /></span>
              <time>{date.start} — {date.end}</time>
            </span>
            <span class="hidden xs:inline sm:hidden lg:inline">•</span>
            <!-- Mode -->
            <span class="flex items-center gap-1">
              <span><ModeIcon class="size-5" /></span>
              {mode || "Modalidad no definida"}
            </span>
            <!-- <span class="hidden xs:inline">•</span> -->
            <!-- Ubication -->
            <!-- <span class="flex items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                  d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                ></path></svg
              >
              Empresa en {company.ubication}
            </span> -->
          </div>
        </div>
      </div>

      <button
        class="close-modal-btn flex items-center justify-center gap-2 px-5 py-2
        hover:bg-gray-100 dark:hover:bg-dark-secondary mb-2
        rounded-xl text-gray-800 dark:text-white
        active:bg-gray-200 dark:active:bg-dark-secondary/70
        transition-color ml-4"
        aria-label="Cerrar cartel"
      >
        <span class="sm:block hidden select-none font-medium">Cerrar</span>
        <CloseIcon class="size-6" />
      </button>
    </div>

    <!-- Job Details Card -->
    <div
      class="mb-6 flex flex-wrap flex-col xs:justify-center justify-between gap-2 rounded-xl
       border border-gray-100 lg:max-h-36 xs:content-around lg:p-4 p-3
     bg-white/5 dark:border-white/10 dark:bg-white/5 shadow"
    >
      <div class="flex items-start gap-8 justify-between">
        <span
          class="flex gap-2 align-center items-center xs:text-sm text-xs font-medium
           uppercase tracking-wider text-gray-500 dark:text-gray-400"
        >
          <span><PositionIcon class="size-5" /></span>
          Puesto
        </span>
        <p class="font-semibold xs:text-base text-sm text-end text-gray-900 dark:text-white">{position}</p>
      </div>
      <div class="flex items-start gap-8 justify-between">
        <span
          class="flex gap-2 align-center items-center xs:text-sm text-xs font-medium
           uppercase tracking-wider text-gray-500 dark:text-gray-400"
        >
          <span><CompanyIcon class="size-5" /></span>
          Empresa
        </span>
        <p class="font-semibold xs:text-base text-sm text-end text-gray-900 dark:text-white">
          {company.name}
        </p>
      </div>
      <div class="flex items-start gap-8 justify-between lg:pb-0 pb-2">
        <p
          class="relative xs:text-sm text-xs flex gap-1 align-center
           items-center font-medium uppercase
           tracking-wider text-gray-500 dark:text-gray-400"
        >
          <span class="flex gap-2 align-center items-center">
            <span><UbicationIcon class="size-5" /></span>
            Ubicación
          </span>
          <span
            class="absolute -bottom-3 left-7 text-xs
            uppercase text-gray-400 dark:text-gray-400/80 italic
            tracking-tight whitespace-nowrap"
          >
            (de Empresa)
          </span>
        </p>
        <p class="font-semibold xs:text-base text-sm text-end text-gray-900 dark:text-white">
          {company.ubication}
        </p>
      </div>
      <div class="flex items-start gap-8 justify-between">
        <span
          class="flex gap-2 align-center items-center xs:text-sm text-xs font-medium
           uppercase tracking-wider text-gray-500 dark:text-gray-400"
        >
          <span><TimelineIcon class="size-6" /></span>
          Duración
        </span>
        <p class="font-semibold xs:text-base text-sm text-end text-gray-900 dark:text-white">
          {date.start} — {date.end}
        </p>
      </div>
      <div class="flex items-start gap-8 justify-between">
        <span
          class="flex gap-2 align-center items-center xs:text-sm text-xs font-medium
           uppercase tracking-wider text-gray-500 dark:text-gray-400"
        >
          <span><ModeIcon class="size-5" /></span>
          Modalidad
        </span>
        <p class="font-semibold xs:text-base text-sm text-end text-gray-900 dark:text-white">{mode}</p>
      </div>
      <div class="flex items-start gap-8 justify-between">
        <span
          class="flex gap-2 align-center items-center xs:text-sm text-xs font-medium
           uppercase tracking-wider text-gray-500 dark:text-gray-400"
        >
          <span> <LanguageIcon class="size-5" /></span>
          Idioma
        </span>
        <p class="font-semibold xs:text-base text-sm text-end text-gray-900 dark:text-white">{language}</p>
      </div>
    </div>

    <!-- Scrollable Content -->
    <div
      class="custom-scrollbar flex-1 overflow-y-auto pr-2 overscroll-contain"
    >
      <!-- Description -->
      <h4 class="mb-2 xs:text-lg text-base font-semibold text-gray-900 dark:text-white">
        Descripción
      </h4>
      <p class="xs:text-base text-sm text-gray-600 dark:text-gray-300 text-pretty mb-4">
        {description}
      </p>

      <!-- Responsibilities -->
      {
        finalResponsibilities.length > 0 && (
          <div class="mb-4">
            <h4 class="mb-2 xs:text-lg text-base font-semibold text-gray-900 dark:text-white">
              Responsabilidades y Tareas
            </h4>
            <ul class="xs:text-base text-sm list-disc space-y-1 pl-5 text-gray-600 dark:text-gray-300">
              {finalResponsibilities.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
        )
      }

      <!-- Skills -->
      {
        finalSkills.length > 0 && (
          <div class="mb-4">
            <h4 class="mb-2 xs:text-lg text-base font-semibold text-gray-900 dark:text-white">
              Tecnologías y Herramientas
            </h4>
            <div class="flex flex-wrap gap-2 px-2">
              {finalSkills.map((skillName) => {
                const tech = allTechnologys.find((t) => t.name === skillName);

                if (tech) {
                  return (
                    <span
                      class={`select-none flex items-center gap-x-1 py-2 px-4 transition hover:scale-105
                        text-xs font-bold dark:font-semibold
                        border rounded-full border-transparent dark:border-white/10 
                        dark:bg-black/10 
                        ${tech.class}`}
                    >
                      <tech.icon class="size-5" />
                      {tech.name}
                    </span>
                  );
                }

                return (
                  <span class="flex items-center bg-gray-200 text-gray-800 text-xs select-none
                  font-medium px-4 py-2 rounded-full border border-transparent dark:border-white/10 
                dark:bg-black/10 dark:text-gray-100 transition hover:scale-105">
                    {skillName}
                  </span>
                );
              })}
            </div>
          </div>
        )
      }

      <!-- Soft Skills -->
      {
        finalSoftSkills.length > 0 && (
          <div>
            <h4 class="mb-2 xs:text-lg text-base font-semibold text-gray-900 dark:text-white">
              Otras Aptitudes
            </h4>
            <ul class="xs:text-base text-sm list-disc space-y-1 pl-5 text-gray-600 dark:text-gray-300">
              {finalSoftSkills.map((skill) => (
                <li>{skill}</li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</dialog>

<style>
  dialog[open]::backdrop {
    animation: backdropFadeIn 0.3s ease-out forwards;
  }

  dialog.closing::backdrop {
    animation: backdropFadeOut 0.2s ease-in forwards;
  }

  @keyframes backdropFadeIn {
    from {
      background-color: rgb(0 0 0 / 0);
    }
    to {
      background-color: rgb(0 0 0 / 0.6);
    }
  }

  @keyframes backdropFadeOut {
    from {
      background-color: rgb(0 0 0 / 0.6);
    }
    to {
      background-color: rgb(0 0 0 / 0);
    }
  }

  dialog[open] {
    animation: fadeIn 0.3s ease-out;
  }

  dialog.closing {
    animation: fadeOut 0.1s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #6b6f79;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c6cf;
    border-radius: 20px;
  }

  :global(.dark) .custom-scrollbar::-webkit-scrollbar-track {
    background: #4b5563;
    border-radius: 20px;
  }

  :global(.dark) .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #93979e;
  }
</style>
