---
// Icons
import Badge from "./Badge.astro";
import SocialLink from "./SocialLink.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import BookIcon from "../icons/Book.astro";
import CurriculumIcon from "../icons/Curriculum.astro";

// Styles
import "../styles/global.css";

// Data
const { data } = Astro.props;
---

<img
  src={data.perfilImage}
  class="rounded-full shadow-xl size-32 mb-6"
  alt="Foto de perfil"
/>
<h1 class="mainTitle">
  {data.title}
  <a
    class="flex items-center transition md:justify-center md:hover:scale-105"
    href={data.linkedInLink}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <Badge>{data.badge}</Badge>
  </a>
</h1>

<h2
  class="text-[1.35rem] text-wrap max-w-[650px] text-gray-800 dark:text-gray-200"
  set:html={data.subTitle}
/>

<nav class="flex w-full gap-4 mt-8 flex-wrap">
  <SocialLink>
    <CurriculumIcon class="size-7 inline" />
    Curriculum
  </SocialLink>
  <SocialLink href="/#contacto">
    <BookIcon class="size-7 inline" />
    Contacto
  </SocialLink>
  <SocialLink
    href={data.linkedInLink}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <LinkedInIcon class="size-7 inline" />
    LinkedIn
  </SocialLink>
  <SocialLink
    href={data.githubLink}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <GitHubIcon class="size-6 inline" />
    GitHub
  </SocialLink>
</nav>
