---
// Icons
import Badge from "./Badge.astro";
import SocialLink from "./SocialLink.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import BookIcon from "../icons/Book.astro";
import CurriculumIcon from "../icons/Curriculum.astro";

// Data
const { data } = Astro.props;
---

<img
  src={data.perfilImage}
  class="size-32 mb-6 rounded-full shadow-xl"
  alt="Foto de perfil"
/>
<h1 class="title">
  {data.title}
  <a
    class="flex justify-center items-center hover:scale-105 transition"
    href={data.linkedInLink}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <Badge>{data.badge}</Badge>
  </a>
</h1>

<h2
  class="max-w-[650px] text-wrap text-[1.35rem]
  text-gray-800 dark:text-gray-200"
  set:html={data.subTitle}
/>

<nav class="flex flex-wrap w-full gap-4 mt-8">
  <SocialLink
    href={data.cvPdf}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <CurriculumIcon class="size-7 inline" />
    Currículum
  </SocialLink>
  <SocialLink href="/#contacto">
    <BookIcon class="size-7 inline" />
    Contacto
  </SocialLink>
  <SocialLink
    href={data.linkedInLink}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <LinkedInIcon class="size-7 inline" />
    LinkedIn
  </SocialLink>
  <SocialLink
    href={data.githubLink}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <GitHubIcon class="size-6 inline" />
    GitHub
  </SocialLink>
</nav>
