---
import { projects } from "../data/projectsData";
import {
  technologysDataOne,
  technologysDataTwo,
  technologysDataThree,
} from "../data/technologysData";

interface Project {
  title: string;
  description: string;
  tags: string[];
  image: string;
}
---

<div
  class="flex flex-col mt-6 gap-y-6 py-5 px-3 justify-center border border-gray-400 dark:border-gray-700 rounded-xl"
>
  {
    projects.map((project: Project) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
          {project.title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{project.description}</p>
        <ul>
          {project.tags.map((tag: string) => {
            <li>{tag}</li>;
          })}
        </ul>
        <img
          class="rounded shadow-2xl shadow-white/10"
          src={project.image}
          alt={`Imagen del proyecto ${project.image}`}
        />
      </article>
    ))
  }
</div>
