---
import { projects } from "../data/projectsData";
import {
  technologysDataOne,
  technologysDataTwo,
  technologysDataThree,
} from "../data/technologysData";

import GitHub from "../icons/GitHub.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";

interface Project {
  title: "Proyecto 1";
  description: "Esta es la descripción del proyecto 1";
  image: "#";
  link: "#";
  github: "#";
  tags: [];
}
---

<div
  class="flex flex-col mt-6 gap-y-6 py-5 px-3 justify-center border border-gray-400 dark:border-gray-700 rounded-xl"
>
  {
    projects.map((project) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagen del Proyecto Uno"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={project.image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {project.title}
          </h3>

          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {project.tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-1 rounded-full text-xs font-bold
                    border border-transparent dark:border-white/10 
                    dark:bg-black/10 py-1 px-2 ${tag.class}`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {project.description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {project.link && (
                <LinkButton href={project.link}>
                  <Link class="size-4" />
                  Demo
                </LinkButton>
              )}
              {project.github && (
                <LinkButton href={project.github}>
                  <GitHub class="size-6" />
                  Código
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
